body {
	background-image: url('../img/ocean.jpeg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 32px;
	text-align: left;
	margin-top: 30px;
	display: inline;
	padding: 0 40px;
}

h2 {
	color: #ffffff;
	font-size: 56px; 
}

.sidebar {
	color: #2471A3;
}

nav {
	color: white; 
	display: inline;
	padding-top: 30px;
	                                                 
}

nav ul {
	/*color: #FFFFFF;
	position: fixed;
    top: 0;
    width: 100%;*/
	
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
	display: inline;
	padding: 0px;
	
	float: left;
	color: white;
}

nav li a {
	/*display: block;
	text-decoration: none;
	padding: 20px;*/
	
	display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

a:link, a:visited {
	color: #2471A3;
}

a:hover {
	/*color: #7FB3D5;*/
	background-color: #111
}

.contact-btn {
	float:right;
	color: #FFFFFF;
}

.contact-btn a {
	margin-right: 35px;
	padding: 8px 18px;
	border: 2px solid #2471A3;

}
 
.contact-btn a:active {
	position: relative;
	bottom: -2px;
}		


.body {
	background-image: url('../img/ocean.jpeg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	padding: 250px 0;
	margin: 0px;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica';
}


p {
	color: #ffffff; 
	font-size: 1.5em; 
}

.body a {
	color: #2471A3;	
	font-size: 24px;
	text-decoration: none;
}


.resume {
	content: #FFFFFF;
	color: #FFFFFF;
	text-shadow: 0 0px #000000;
	
}

.resume a {
	padding: 8px 18px;
	border: 2px solid #2471A3;

}
 
.resume a:active {
	position: relative;
	bottom: -2px;
}		

.resume a:hover {
	color: #7FB3D5;
	border: 2px solid #7FB3D5;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}
