

	/*navbar*/

.navbar {
	color: white;
}

nav {
	color: white; 
	display: inline;
	padding-right: 30px;
	padding-left: 30px; 
}

nav ul {
	position: fixed;
    top: 0;
    width: 100%;
	
	list-style-type: none;
    overflow: hidden;
	padding: 0px;
	margin: 0px;
    background-color: white;
}

nav li {
	display: inline;
	padding: 0px;
	padding-right: 10px;
	float: right;
	color: white;
}

nav li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 1.5vw;
    text-decoration: none;
}

a:link, a:visited {
	color: #2471A3;
}

a:hover {
	background-color:  #ABB2B9;
}

a:active {
	position: relative;
	bottom: -2px;
}		

.contact-btn {
	color: #FFFFFF;
}

.contact-btn a {
	padding: 14px 20px;
}

#home {
	float: left;
	
}

	/*resume button*/ 

.resume {
	text-shadow: 0 0px #000000;
	
	position: relative;
    display: inline-block;
}

.resume a {
	margin: 50px;
	padding: 8px 18px;
	border: 3px solid #2471A3;
	background-color: white;
}
 
.resume a:active {
	position: relative;
	bottom: -2px;
}		

.resume a:hover {
	background-color:  #ABB2B9;
}

	/*footer*/ 

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}

	/*content*/ 

/*body*/
body {
	background-image: url("http://i.imgur.com/VMzJUS0.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment:fixed;
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

.body {
	padding: 200px 0;
	margin: 0px;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica';
}

.body a {
	color: #2471A3;	
	font-size: 24px;
	text-decoration: none;
}

/*content*/

.content {

	
	
}

/*headings*/

h1 { /*title of page*/ 
	color: #ffffff;
	font-size: 56px; 
}

h2 { /*title of content*/ 
	font-size: 2em;
	margin: 0;
}
	
h3 { /*subheading of content*/
	font-size: 1.75em; 
}

/*paragraph elements*/ 

p {
	color: #2471A3; 
	font-size: 1.25em; 
	margin: 50px;
}

#description { 
	color: #ffffff; 
	font-size: 1.5em; 
	margin: 50px;
}

/*activities*/
.clubs {
	background-color: #2471A3; 
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.R-Cade {
	width:25%;
	float:left;
	background-color:white;
}

.iPad {
	width:25%;
	float:left;
	background-color:white;
}

.Knights {
	width:25%;
	float:left;
	background-color:white;
}

.NHS {
	width:25%;
	float:left;
	background-color:white;
}

















	/*extra stuff*/
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}