body {
	background-image: url('../img/ocean.jpeg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 32px;
	text-align: left;
	margin-top: 30px;
	display: inline;
	padding: 0 40px;
}

h2 {
	color: #ffffff;
	font-size: 56px; 
}

.navbar {
	color: white;
}

nav {
	color: white; 
	display: inline;
	padding-right: 30px;
}

nav ul {
	position: fixed;
    top: 0;
    width: 100%;
	
	list-style-type: none;
    overflow: hidden;
	padding: 0px;
	margin: 0px;
    background-color: white;
}

nav li {
	display: inline;
	padding: 0px;
	padding-right: 10px;
	float: right;
	color: white;
}

nav li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 1.5vw;
    text-decoration: none;
}

a:link, a:visited {
	color: #2471A3;
}

a:hover {
	background-color:  #ABB2B9;
}

a:active {
	position: relative;
	bottom: -2px;
}		

.contact-btn {
	color: #FFFFFF;
}

.contact-btn a {
	padding: 14px 20px;
}


.body {
	padding: 250px 0;
	margin: 0px;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica';
}


p {
	color: #ffffff; 
	font-size: 1.5em; 
}

.body a {
	color: #2471A3;	
	font-size: 24px;
	text-decoration: none;
}


.resume {
	content: #FFFFFF;
	color: #FFFFFF;
	text-shadow: 0 0px #000000;
	
}

.resume a {
	padding: 8px 18px;
	border: 4px solid #2471A3;
	background-color: white;
}
 
.resume a:active {
	position: relative;
	bottom: -2px;
}		

.resume a:hover {
	background-color:  #ABB2B9;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}
