/* body */
body {
	height: 100%;
	width: 100%;
	margin: 0;
	
	line-height: 1.5;
	font-family: 'Trebuchet MS', 'Helvetica';
	text-decoration: none;
}

/* header section */
.header {
	background-image: url("../img/spirited_away.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
}

.title {
	display: inline-block;
	padding: 5%;
	list-style-type: none;
	text-shadow: 0 1px #000000;
}

.title a {
	font-size: 25px;
	color: white;
	text-decoration: none;
}

/* personal section */
.personal {
	/*width: 100%;
	height: 100vh;*/

	display: flex;
	flex-wrap: wrap;
}

.side {
	flex: 25%;
	padding: 20px;
	
	background-color: #bbb;
}

.picture_container {
	text-align: center;
}

.picture_container img {
	display: block;
	margin: 0 auto;
}

.main {
	flex: 65%;
	padding: 20px;
}

.main:after {
	content: "";
	display: table;
	clear: both;
}

.box {
	float: left;
	width: 25%;
	padding: 20px;
	box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
	.box {
		width: 50%;
	}
}

@media screen and (max-width: 460px) {
	.box {
		width: 100%;
	}
	
	.about, .main {
		flex-direction: column;
	}
}

/* experience section */
.experience {
	background-color: #eee;
	
	display: flex;
	flex-wrap: wrap;
}

/* text sizes */
h1 {
	margin: 0px;
	padding-bottom: 5px;
	font-size: 50px;
	line-height: 1;
	color: white;
}

@media screen and (min-width: 1000px) {
	h1 {
		font-size: 4vw;
	}
}

@media screen and (max-width: 460px) {
	.header {
		text-align: center;
	}

	.title a {
		font-size: 20px;
	}
}

h2 {
	margin: 0px;
	margin-bottom: 20px;
}

h3 {
	margin: 0px;
	margin-bottom: 20px;
}

/* links */
a:link, a:visited {
	color: white;
}

a:hover {
	color: #ABB2B9;
}

a:active {
	position: relative;
	bottom: -2px;
}

/* navbar */
.navbar {
	display: flex;
	background-color: #333;
	
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.navbar li {
	padding: 10px;
	padding-left: 20px;
	display: inline;
	float: left;
}

.navbar a {
	
	text-decoration: none;
}

/*
have two different stylesheets for big screens and small screens?

<link rel="stylesheet" media="screen and (min-width: 900px)" href="widescreen.css">
<link rel="stylesheet" media="screen and (max-width: 600px)" href="smallscreen.css">
*/